.burger {
  background-color: transparent;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 20;
  cursor: pointer;
  border: none;

  @include vp-767 {
    display: flex;
  }
}

.burger__span {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 4px;
  background-color: #000;
}

.burger__menu::before,
.burger__menu::after {
  background-color: #000;
  content: "";
  height: 4px;
  border-radius: 4px;
  left: 50%;
  position: absolute;
  top: 8px;
  transform: translate(-50%, 0);
  width: 100%;
}

.burger__menu::before {
  transition: background-color ease-in 0.3s, top ease-in 0.3s 0.3s, transform ease-in 0.3s;
}

.burger__menu::after {
  transition: background-color ease-in 0.3s, top ease-in 0.3s 0.3s, transform ease-in 0.3s;
  top: 16px;
}

.header--open .burger__menu::before {
  top: 12px;
  transform: translate(-50%, 0) rotate(-50deg);
  background-color: #ffffff;
  transition: background-color ease-in 0.3s, top ease-in 0.3s, transform ease-in 0.3s 0.3s;
}

.header--open .burger__menu::after {
  top: 12px;
  transform: translate(-50%, 0) rotate(50deg);
  background-color: #ffffff;
  transition: background-color ease-in 0.3s, top ease-in 0.3s, transform ease-in 0.3s 0.3s;
}

.header--open .burger__span {
  opacity: 0;
  transition: $transition-300;
}