.hero {
    position: relative;
    background: url('../images/hero.png'), #f3efef;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;

    @include vp-767 {
        background: #f3efef;
    }

    &__inner {
        min-height: 663px;
    }

    &__content {
        padding-top: 103px;
        padding-bottom: 116px;
        max-width: 596px;
        width: 100%;

        @include vp-767 {
            padding-top: 40px;
            padding-bottom: 10px;
        }
    }

    &__title {
        margin: 0 0 32px 0;
        font-family: $second-family;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color: $color-black;

        @include vp-767 {
            margin: 0 0 20px 0;
            font-size: 36px;
            line-height: 34px;
        }
    }

    &__descr {
        margin: 0 0 32px 0;
        font-family: $font-family;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);

        @include vp-767 {
            margin: 0 0 24px 0;
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__link {
        width: 210px;
        display: block;
        padding: 16px 67px;
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        color: $color-white;
        border-radius: 62px;
        background: $color-black;
        transition: $transition-300;

        @include vp-767 {
            width: 100%;
            text-align: center;
        }

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 1;
        }
    }

    &__list-inner {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 32px;
        margin: 48px 0 0 0;
        padding: 0;
        list-style: none;

        @include vp-767 {
            justify-content: center;
            margin: 20px 0 0 0;
        }
    }

    &__list-item {
        position: relative;
        padding-right: 32px;

        &:not(:last-child)::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
        }

        @include vp-767 {
            padding-right: 27px;

            &:not(:last-child)::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                background-color: unset;
            }

            &:first-child::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    &__list-heading {
        margin: 0 0 20px 0;
        font-family: $font-family;
        font-weight: 700;
        font-size: 40px;
        color: $color-black;

        @include vp-767 {
            margin: 0;
            font-size: 24px;
        }
    }

    &__list-descr {
        margin: 0;
        font-family: $font-family;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);

        @include vp-767 {
            font-size: 12px;
        }
    }

    &__img-star-left {
        position: absolute;
        top: 297px;
        right: 694px;

        @include vp-767 {
            display: none;
        }
    }

    &__img-star-right {
        position: absolute;
        top: 86px;
        right: 81px;

        @include vp-767 {
            display: none;
        }
    }

    &__img-mobile {
        display: none;

        @include vp-767 {
            display: block;
            width: 100%;
        }
    }
}